body {
  background-color: bisque;
  color: black;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  gap: 15px;
  justify-items: center;
  border-radius: 100%;
  margin: 200px;
  position:relative;
}

.card {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  font-size: 2rem;
  background-color: rgb(197, 125, 37);
  background-image: url("./MemoryBilder /ADTLogo.jpg");
  border-radius: 10%;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 9%;
  visibility: hidden;
}

.writing {
  font-size: 4rem;
  position: relative;
  color: rgb(104, 45, 3);
 /* width: 400px; */
  height: 100px; 
  text-align: center;
  top:10px;
}

.win{
  font-size: 2rem;
  width: 600px;
  height: 600px;
  right: 10%;
  position: fixed;
  top: 1cm;
}

button {
  width: 200px;
  height: 100px;
  border: 4px solid black;
  background-color: rgb(213, 116, 4);
  display: block;
  font-size: 2rem;
  border-radius: 5%;
  position: fixed;
  left: 10%;
  bottom: 8cm;
}

.foo {
  font-size: 3rem;
  color: gray;
  position: fixed;
  left: 2%;
  top: 4cm;
}

.score {
  font-size: 4rem;
  color: gray;
  position: fixed;
  left: 25%;
  top: 5cm;
}