body {
  background-color: bisque;
  color: black;
}


.container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  gap: 15px;
  justify-items: center;
  border-radius: 100%;
  margin: 10%;
}

.newDiv2 {
  background-color:aqua;
  width: 150px;
  height: 150px;
  justify-items: center;
  border-radius: 9%;
  /* z-index: 10; */
  font-size: 2rem;
  /* text-align:center; */
  display: inline;
}

.card {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  font-size: 2rem;
  background-color: bisque;
  border-radius: 10%;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 9%;
  visibility: hidden;
}